@logo-width: calc(var(--base-size) * 30);
@space-height: calc(var(--base-size) * 7);

.login-page {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: @space-height;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: @logo-width;
    height: 5rem;
    object-fit: contain;
  }

  p {
    margin: 0;
    color: var(--muted-color);
    font-size: 17px;
    font-weight: 700;
  }
}
