@label-size: calc(var(--base-size) * 1.5);
@label-color: calc(var(--muted-color) + 100);
@height-size: calc(var(--base-size) * 4);
@gap-size: calc(var(--base-size) / 2);

.input-wrapper {
  color: var(--muted-color);

  display: flex;
  align-items: start;
  flex-direction: column;
  gap: @gap-size;

  p {
    color: @label-color;
    margin: 0;
    font-size: @label-size;
    font-weight: 600;
  }

  input {
    width: 100%;
    height: @height-size;

    outline: 0;
    border: 1px solid var(--muted-color);
    border-radius: var(--border-radius);

    font-size: calc(@label-size * 1.3);
    padding: 0 3px;

    animation-duration: var(animation-duration);
    transition: ease-in;
  }

  input:focus {
    border: 1px solid black;
  }
}
